/* Main column width */
body.gutenberg-editor-page .editor-post-title__block,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {
	max-width: 740px;
}

/* Width of "wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: 1080px;
}

/* Width of "full-wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
	max-width: none;
}

/* standard editor */

body#tinymce.wp-editor {
    font-family: 'Roboto', Verdana, Geneva, sans-serif;
    margin: 10px auto;
    max-width: 740px;
    line-height: 1.5;
}

/* typography */

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: transparent;
	border: 1px solid rgba(0,0,0,0.2);
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted rgba(0,0,0,0.2);
	cursor: help;
}

mark, ins {
	background: rgba(0,0,0,0.1);
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* font family */

/*
.edit-post-visual-editor,
body#tinymce.wp-editor {
	background-color: #eee7e1;
}

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p {
	font-family: 'Roboto', Verdana, Geneva, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: grayscale;
}
*/

/* weights */


h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

blockquote,
q,
.emphasis {
	font-weight: 100;
}

/* sizes */

h1 {
	font-size: 60px;
	font-size: 3.75em;
	line-height: 1.1;
}

h2 {
	font-size: 48px;
	font-size: 3em;
	line-height: 1.1;
}

h3 {
	font-size: 40px;
	font-size: 2.5em;
	line-height: 1.1;
}

h4 {
	font-size: 32px;
	font-size: 2em;
	line-height: 1.125;
}

.emphasis {
	font-size: 30px;
	font-size: 1.875em;
}

blockquote,
q {
	font-size: 24px;
	font-size: 1.5em;
	line-height: 1.25;
}

h5 {
	font-size: 22px;
	font-size: 1.375em;
	line-height: 1.2;
}

h6 {
	font-size: 18px;
	font-size: 1.125em;
	line-height: 1.2;
}

.widget-title,
.entry-footer {
	font-size: 14px;
	font-size: 0.875em;
}

.emphasis {
	line-height: 1.2;
}

blockquote,
q {
	margin: 1.5em 0 1em;
}

blockquote:before,
q:before {
	content: '//';
	line-height: 1;
}

blockquote:before {
	display: block;
	margin-bottom: 0.5em;
}

q:before {
	margin-right: 0.6em;
}

blockquote p,
q p {
	margin-top: 0;
}

cite {
	font-size: 17px;
	margin-bottom: 1em;
	margin-top: 1em;
	display: inline-block;
}

blockquote + cite,
blockquote + p cite {
	margin-top: 0;
}

.entry-footer {
	margin-top: 1em;
}

table td,
table th {
	padding: 0.2em 0.3em;
	border: 1px solid #000;
}

ul,
ol {
	padding-left: 1.4em;
}

li {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

/* standard styling */

.edit-post-visual-editor,
.edit-post-visual-editor p {
	font-size: 20px;
	letter-spacing: 0.02em;
	line-height: 1.3;
}

.emphasis {
	line-height: 1.2;
}

blockquote,
q,
.wp-block-quote,
.wp-block-pullquote {
	margin: 1.5em 0 2em;
}

q {
	display: block;
}

blockquote,
q,
.wp-block-quote:not(.is-large),
.wp-block-quote,
.wp-block-pullquote {
	border-top: 1px solid rgba(0,0,0,0.1);
	max-width: 500px;
	padding-left: 50px;
	padding-top: 20px;
	position: relative;
	font-weight: 500;
}

blockquote:before,
q:before {
	content: '//';
}

blockquote:before,
q:before {
	display: block;
	position: absolute;
	top: 20px;
	left: 0;

}

q:before {
	margin-right: 0.6em;
}

blockquote p,
q p {
	margin-top: 0;
}

cite {
	font-size: 17px;
	margin-bottom: 1em;
	margin-top: 1em;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
}

blockquote + cite,
blockquote + p cite {
	margin-top: 0;
}

table td,
table th {
	padding: 0.2em 0.3em;
	border: 1px solid #000;
}

ul,
ol {
	padding-left: 1.4em;
}

li {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

/* gutenberg specific */

.editor-post-title {
	border-bottom: 1px solid rgba(198, 159, 115, 0.5);
	padding-bottom: 20px;
	margin-bottom: 80px;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 60px;
	font-size: 3.75em;
	line-height: 1.1;
	font-weight: 300;
}

.gutenberg .wp-block-more input[type=text] {
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	font-family: inherit;
	border: 1px solid rgba(198, 159, 115, 0.7);
	border-radius: 0;
	background: transparent;
	padding: 0.8em 1.6em;
	height: auto;
	letter-spacing: 0.01em;
}

.wp-block-separator {
	border-bottom: 1px solid rgb(198, 159, 115);
	margin: 2em auto;
	max-width: 160px;
}


.gutenberg .editor-plain-text {
	background: transparent;
}

.gutenberg .wp-block-more {
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	font-family: inherit;
	border: 1px solid rgba(198, 159, 115, 0.7);
	border-radius: 0;
	background: transparent;
	padding: 0.8em 1.6em;
	height: auto;
	letter-spacing: 0.01em;
}

.gutenberg .wp-block-separator {
	border-bottom: 1px solid rgb(198, 159, 115);
	margin: 2em auto;
	max-width: 160px;
}

.gutenberg .wp-block-separator.is-style-dots {
    background: none;
}

.gutenberg .wp-block-separator.is-style-dots:before {
    color: rgb(198, 159, 115);
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 1em;
    padding-left: 1em;
}

.gutenberg p.wp-block-subhead {
	font-size: 1.3em;
}

.gutenberg pre.wp-block-preformatted {
	background: transparent;
	border: none;
	white-space: pre-wrap;
	padding: 0;
}

.gutenberg .wp-block-verse pre,
.gutenberg pre.wp-block-verse {
	white-space: nowrap;
	font-family: inherit;
	padding: 1em;
	overflow: auto;
	font-size: 1.2em;
}

.gutenberg .wp-block-latest-posts,
.gutenberg .wp-block-categories ul,
.gutenberg ul.wp-block-archives {
	padding-left: 0;
}

.gutenberg .wp-block-archives {
	list-style: none;
}

.gutenberg .wp-block-latest-posts li,
.gutenberg .wp-block-categories li,
.gutenberg .wp-block-archives li {
	margin: 0 0.8em 0.8em 0;
	font-size: 18px;
	list-style: none;
}

.gutenberg .wp-block-archives.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.gutenberg .wp-block-categories .post_count {
	font-size: 0.7em;
	margin-left: 0.5em;
}

.gutenberg .wp-block-quote p {
	margin-bottom: 0;
}

.gutenberg .wp-block-quote:not(.is-large) {
	border-left: 0;
}

.gutenberg .wp-block-quote.is-large {
	padding: 0 1em 0 2em;
	margin-top: 1.6em;
	margin-bottom: 1.6em;
}

.gutenberg .wp-block-quote.is-large {
	position: relative;
}

.gutenberg blockquote.wp-block-quote.is-large:before {
	position: absolute;
	top: 0.45em;
	left: 0;
	margin-bottom: 0;
}

.gutenberg .wp-block-quote.is-large p {
	font-size: 1.4em;
	font-style: inherit;
	line-height: 1.25;
}

.gutenberg .wp-block-quote.is-large cite,
.gutenberg .wp-block-quote.is-large footer {
	font-size: 19px;
	text-align: right;
	display: block;
}

.gutenberg .wp-block-audio audio {
	width: 100%;
}

.gutenberg .wp-block-button .wp-block-button__link {
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	border-radius: 0;
	padding: 0.8em 1.6em;
}

.gutenberg .wp-block-button__link:active,
.gutenberg .wp-block-button__link:focus,
.gutenberg .wp-block-button__link:hover {
	opacity: .7;
}

.wp-block-pullquote,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: inherit;
}

.gutenberg .wp-block-pullquote.alignleft,
.gutenberg .wp-block-pullquote.alignright {
	float: none;
	display: block;
}

.gutenberg .wp-block-pullquote.alignleft {
	margin-right: 0;
	text-align: left;
}

.gutenberg .wp-block-pullquote.alignright {
	margin-left: auto;
	text-align: right;
}

.gutenberg .wp-block-pullquote.aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.gutenberg .wp-block-pullquote.aligncenter,
.gutenberg .wp-block-pullquote.alignleft,
.gutenberg .wp-block-pullquote.alignright {
	margin-top: 0;
	padding: 1em 0;
	max-width: 450px;
}

.gutenberg .wp-block-pullquote {
	border-bottom: none;
	padding-left: 0;
}

.gutenberg blockquote.wp-block-pullquote:before {
	display: none;
}

.gutenberg .wp-block-pullquote p {
	margin-bottom: 0;
}

.gutenberg .wp-block-pullquote cite {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
}

.gutenberg .wp-block-cover-image {
}

.gutenberg .wp-block-cover-image.aligncenter,
.gutenberg .wp-block-cover-image.alignleft,
.gutenberg .wp-block-cover-image.alignright {
	display: flex;
}
